# Ignorar la carpeta de dependencias
node_modules/

# Ignorar archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de compilación
dist/
build/

# Ignorar archivos temporales
*.tmp
*.temp

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar configuraciones de IDE
.vscode/
.idea/
