.footer {
    background: linear-gradient(to right, #F7F5FA, #E4DDF7);
    color: #4c3397;
    min-height: 80px; 
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.copyright {
    font-size: 14px;
    margin-top: 10px; 
    text-align: center; 
    width: 100%; 
}
